/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body Styles */
body {
    font-family: 'Quicksand', sans-serif;
    background-color: #f8f8f8;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Ini akan membuat footer selalu ada di bagian bawah */
}

/* Header Styles */
header {
    background-color: #C70039;
    color: #fff;
    padding: 10px 0;
}

header h1 {
    font-size: 24px;
    margin-bottom: 10px;
}

header ul {
    list-style: none;
    float: right;
}

header ul li {
    display: inline-block;
    margin-left: 20px;
}

header ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

/* Navigation Styles */
.navbar {
    background-color: #333;
}

.navbar-brand {
    color: #fff;
    font-weight: bold;
}

.navbar-nav {
    margin-left: auto;
}

.nav-item {
    margin-right: 15px;
}

.nav-link {
    color: #fff !important;
}

/* Container Styles */
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

/* Section Styles */
.section {
    padding: 25px 0;
}

/* Button Styles */
.btn-primary {
    background-color: #007BFF;
}

.btn-primary:hover {
    background-color: #0056b3;
}

.btn-warning {
    background-color: #FFC107;
}

.btn-warning:hover {
    background-color: #cc9a05;
}

.btn-danger {
    background-color: #DC3545;
}

.btn-danger:hover {
    background-color: #b02a37;
}

/* Table Styles */
.table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.table th,
.table td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ccc;
}

/* Footer Styles */
.footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 25px 0;
    margin-top: auto; /* Ini akan memaksa footer ada di bagian bawah */
}

.footer p {
    margin-bottom: 10px;
}

.footer small {
    margin-top: 25px;
    display: inline-block;
}

/* Form Styles */
.form-label {
    font-weight: bold;
}

/* Input Styles */
.form-control {
    padding: 10px 30px 10px 10px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    position: relative;
}

/* Password Toggle Button Styles */
.input-group {
    position: relative;
}

.btn-toggle-pass {
    position: absolute;
    right: 0px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    border: none;
}



.table td .btn {
    margin: 5px;
}
.dashboard-section {
    flex-grow: 1; 
    padding: 25px 0;
}